@keyframes image-zoom-fade-in {
	0% {
		background-color: rgba(0, 0, 0, 0);
	}

	100% {
		background-color: rgba(0, 0, 0, .8);
	}
}

.image-zoom-loading {
	pointer-events: none;

	img {
		opacity: .5;
	}
}

.image-zoom {
	&:before {
		display: block;
		content: "\00d7";

		position: absolute;
		right: 1rem;
		top: 1rem;
		z-index: 1;

		color: #fff;
		font-size: 3rem;
		line-height: 1rem;
		cursor: pointer;
		opacity: 0;

		transition: opacity 0s ease-out;
	}

	&.in-center {
		animation-name: image-zoom-fade-in;
		animation-duration: .2s;
		animation-delay: .2s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;

		&:before {
			opacity: 1;
			transition: opacity .2s .2s ease-out;
		}
	}
}
